.admin-dashboard {
  padding: 20px;
  font-family: 'Tajawal', sans-serif;
  font-size: 14px;
  direction: rtl;
  text-align: right;
}

.logout-btn {
  float: right;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Tajawal', sans-serif;
}

.filter-buttons {
  margin: 10px 0;
  font-family: 'Tajawal', sans-serif;
  color: #222;
}

.filter-buttons button {
  margin-right: 8px;
  padding: 4px 8px;
  font-size: 12px;
  font-family: 'Tajawal', sans-serif;
}

.table-container {
  overflow-x: auto;
  font-family: 'Tajawal', sans-serif;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  font-family: 'Tajawal', sans-serif;
  
}

.order-table th,
.order-table td {
  
  padding: 6px 10px;
  text-align: right;
  font-family: 'Tajawal', sans-serif;
  
}

.order-table th {
  background-color: #f2f2f2;
  font-family: 'Tajawal', sans-serif;
  direction: rtl;  
  
}

.order-table input[type="checkbox"] {
  transform: scale(1.2);
  font-family: 'Tajawal', sans-serif;
}