

.landing-container {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(14px); /* iOS Safari */
  background: rgba(255, 255, 255, 0.062);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Tajawal', sans-serif;
  border-radius: 50px;
  padding: 30px 40px;
  width: fit-content;
  max-width: 330px;
  margin: 20px;
  animation: fadeSlideUp 1s ease forwards;
}

.landing-title {
  font-size: 42px;
  color: #444;
  margin-bottom: 8px;
  font-weight: 700;
}

.landing-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.landing-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  cursor: none;
  
}

.landing-btn {
  padding: 15px 30px;
  font-size: 18px;
  
  
  border-radius: 50px;
  cursor: none;
  transition: transform 0.3s ease, background 0.3s ease;
  background-color: #fff;
  color: #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.landing-btn:hover {
  transform: scale(1.05);
  background-color: #f9e65b;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}